
PORT=10031
CLIENT_ID=
CLIENT_SECRET=
BASE_URI="https://domain.example.com>"
SCOPES="spark%3Aall%20spark%3Akms%20meeting%3Acontrols_write%20meeting%3Aparticipants_read%20meeting%3Acontrols_read%20meeting%3Apreferences_read"

